<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
            <div class="card my-5 mx-auto" >
                <img src="../../../assets/images/new-ticket.jpg" alt="Avatar" class="avatar">
                <div class="titulo text-center">
                    <h5>Ingresar nuevo reclamo</h5>
                  </div>
                <form [formGroup]="form" class="mx-5 mt-2 mb-2">
                    <div class="mb-3">
                        <label class="form-label">Categoria</label>
                        <select class="form-select" formControlName="category">
                            <option hidden selected disabled>Seleccione una categoría</option>
                            <option value="1">Solicitud genérica</option>
                            <option value="2">Solicitud de cambio</option>
                            <option value="3">Incidente</option>
                            <option value="3">Problema</option>
                            <option value="3">Solicitud de hardware</option>
                            <option value="3">Solicitud de software nuevo</option>
                        </select>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="asunto" placeholder="Problema con ram" formControlName="subject">
                        <label for="name">Asunto</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="descripcion" placeholder="Ingrese aca el motivo de su reclamo" rows="3" formControlName="description"></textarea>
                        <label for="descripcion">Descripcion</label>
                    </div>            
                    <div>
                        <label class="form-label">Prioridad:</label>
                        <br>
                        <div class="text-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="priority" formControlName="priority" value="Baja">
                                <label class="form-check-label">
                                Bajo
                                </label>
                            </div>            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="priority" formControlName="priority" value="Media">
                                <label class="form-check-label">
                                Medio
                                </label>
                            </div>            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="priority" formControlName="priority" value="Alta">
                                <label class="form-check-label">
                                Alto
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a type="submit" class="btn btn-primary mt-4" [routerLink]="['/overview']" routerLinkActive="router-link-active" (click)="createComplaint()">Crear Ticket</a>
                    </div>
                </form>
            </div>
      </div>
    </div>
</div>





    

