<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand"  [routerLink]="['/inicio']" routerLinkActive="router-link-active">
                <img src="../../../assets/images/logo4.png" alt="" width="120" height="60" class="d-inline-block align-text-top text-">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-flex justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="inicio" role="button" aria-expanded="false">
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item dropdown" *ngIf="isadmin == true">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Administrador
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" [routerLink]="['/users-list']" routerLinkActive="router-link-active" >Ver todos los usuarios registrados</a></li>
                        <li><a class="dropdown-item" href="#">Reporte de reclamos</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex flex-column flex-lg-row">
                    <form class="d-flex justify-content-end mb-3 mb-lg-0">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-light ml-2" type="submit">Buscar</button>
                    </form>
                    <div class="d-flex align-items-center mb-2 mb-lg-0">
                        <a class="nav-link text-light px-3 me-2" [routerLink]="['/login']" routerLinkActive="router-link-active">Iniciar Sesión</a>
                        <a type="button" class="btn btn-primary me-3" [routerLink]="['/register']" routerLinkActive="router-link-active">Registrarse</a>
                        <a class="btn btn-dark px-3 mx-2" href="https://github.com/Gonzalo-Bruna/gestion-reclamos" role="button"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                
            </div>
        </div>
    </nav>
</header>