.fondo{
    
    width: 50%;
    text-align: center;
    background: #fff;
    padding-top: 30px;

    img{
        width: 35%;
        border-radius: 3%;
    }

    .titulo{

        background: #f7fafb;
        padding: 10px 0;
        margin: 30px 0;
        //overflow: auto;
  
        h5{
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-size: 25px;
          margin: 10px;
        }
  
    }

    

    .tickets{
        padding: 3% 5%;
        h3{
            font-size: 30px;
        }
    }

}