<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
        <div class="card my-5 mx-auto text-center" >
          <img src="../../../assets/images/ticket.png">
          <div class="titulo text-center">
            <h5>Bienvenido usuarie</h5>
          </div>
          <div class="tickets">
            <h1 class="display-5">Tickets</h1>
            <div class="row mt-4">
              <div class="col-sm-6 mt-3">

                <div class="card text-center" *ngFor="let complain of complaints">
                  <div class="card-header bg-success text-white">{{complain.priority}}</div>
                    <div class="card-body">
                      <h5 class="card-title">{{complain.subject}}</h5>
                      <p class="card-text">
                        {{complain.description}}
                      </p>
                      <!-- <a href="#" class="btn btn-primary" *ngIf="isadmin == false">Revisar</a> -->
                      <!-- <a href="#" class="btn btn-primary" *ngIf="isadmin == true">Gestionar</a> -->
                    </div>
                  <div class="card-footer text-muted">{{complain.category}}</div>
                </div>

              </div>
            </div>
            <a type="button" class="btn btn-primary btn-lg mt-4" *ngIf="isadmin==false" [routerLink]="['/new-ticket']" routerLinkActive="router-link-active">Nuevo Ticket</a>
          </div>
        </div>
      </div>
  </div>
</div>


