<div class="container">
  <div class="row"> 
    <div class="col-sm-12"> 
      <div class="jumbotron my-4">
          <h1 class="display-1">Portal de Reclamos</h1>
          <p>Bienvenido al portal de reclamos del proyecto de Ingeniería Web. Puede iniciar sesión para ingresar un reclamo o ver el estado de los mismos.</p>
          <p><a class="btn btn-primary btn-lg" [routerLink]="['/login']" routerLinkActive="router-link-active" role="button" *ngIf="!loggedIn()">Iniciar Sesión</a></p>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card">
      <img src="../../../assets/images/claim.png" class="card-img-top img-fluid" alt="Reclamo">
      <div class="card-body">
        <h5 class="card-title">Ingresa un nuevo reclamo</h5>
        <p class="card-text">Si tienes alguna consulta o reclamo que nos quieras hacer llegar, no dudes en dejarlo.</p>
        <a [routerLink]="['/new-ticket']" routerLinkActive="router-link-active"class="d-flex btn btn-primary justify-content-center">Nuevo Reclamo</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card">
      <img src="../../../assets/images/lista.png" class="card-img-top img-fluid" alt="Reclamo">
      <div class="card-body">
        <h5 class="card-title">Ver reclamos abiertos</h5>
        <p class="card-text">Puedes ver el estado de otros reclamos, y ver si han obtenido una respuesta</p>
        <a [routerLink]="['/overview']" routerLinkActive="router-link-active" class="d-flex btn btn-primary justify-content-center">Ver lista de reclamos</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card">
      <img src="../../../assets/images/contacto.png" class="card-img-top img-fluid" alt="Reclamo">
      <div class="card-body">
        <h5 class="card-title">Contacto</h5>
        <p class="card-text">Si tienes alguna duda con el funcionamiento del portal, comunícate con nosotros.</p>
        <a href="mailto:contacto@reclamospalta.com" class="d-flex btn btn-primary justify-content-center">Envíanos un mensaje</a>
      </div>
    </div>
  </div> 
</div>
<div class="row mb-4">
  <div class="col-sm-12">
    <div class="card text-center">
      <div class="card-header">
        <h1 class="display-4">Ejemplo de reclamo</h1>
      </div>
      <div class="card-body">
        <h5 class="card-title">Problema con la memoria ram del notebook</h5>
        <p class="card-text">Tuve un problema con la memoria ram de mi notebook, me pueden ayudar?
        </p>
      </div>
      <div class="card-footer text-muted">
        Sin respuesta
      </div>
    </div>
  </div>

</div>

    