<div class="background d-flex align-items-center">
    <form [formGroup]="form" method="post">
      <div class="imgcontainer">
        <img src="../../assets/images/avatar.png" alt="Avatar" class="avatar">
      </div>
  
      <div class="titulo text-center"><h5>Portal de reclamos</h5></div>
    
      <div class="container">
        <label><b>Usuario</b></label>
        <input type="text" placeholder="Ingresa tu nombre de usuario" formControlName="username">
    
        <label><b>Contraseña</b></label>
        <input type="password" placeholder="Ingresa tu contraseña" formControlName="password">
    
        <button type="button" class="btn btn-success btn-lg">Iniciar Sesión</button>
      </div>
    
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn btn btn-danger">Cancelar</button>
        <!-- <button type="button" class="cancelbtn">Cancel</button> -->
        <!-- <span class="psw">Olvidaste tu <a href="#">contraseña?</a></span> -->
      </div>
  
      <div role="alert" class="warnings alert alert-warning mb-2 mt-4" *ngIf="username.invalid && username.dirty">
        <i class="fas fa-exclamation-triangle"></i> El nombre de usuario es obligatorio
      </div>
      <div role="alert" class="warnings alert alert-warning mb-2 mt-4" *ngIf="password.invalid && password.touched">
        <i class="fas fa-exclamation-triangle"></i> La contraseña es obligatoria
      </div>
  
    </form>
  </div>
