<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
      <div class="card my-5 mx-auto">
        <img src="../../../assets/images/login2.jpg" alt="Avatar" class="avatar">
        <div class="titulo text-center">
          <h5>Iniciar sesión</h5>
        </div>
        <form [formGroup]="form" class="mx-5 mt-2 mb-5">
          <div class="form-floating mb-3 mt-3" >
            <input class="form-control" id="name" placeholder="Pepito123" formControlName="username">
            <small class="text-danger" *ngIf="username.invalid && username.touched">El nombre de usuario es obligatorio</small>
            <label for="name">Usuario</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" id="password" placeholder="*****" formControlName="password">
            <small class="text-danger" *ngIf="password.invalid && password.touched">La contraseña es obligatoria</small>
            <label for="name">Contraseña</label>
          </div>
          <div class="text-center">
            <a class="btn btn-primary col-auto mx-auto mt-4" [routerLink]="['/overview']" routerLinkActive="router-link-active"
            *ngIf="form.valid">Iniciar Sesión</a>
            <button class="btn btn-primary col-auto mx-auto mt-4" *ngIf="form.invalid" disabled>Iniciar Sesión</button>
          </div>
          </form>
      </div>
    </div>
  </div>
</div>
