
  form {
      border: 3px solid #f1f1f1;
      background: #fff;
      width: 30%;
      margin: 0 auto;
      padding: 30px 0;

      img.avatar {
        width: 35%;
        border-radius: 50%;
      }

      .titulo{
        background: #f7fafb;
        padding: 10px 0;
        margin: 40px 0;
  
        h5{
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-size: 25px;
          margin: 10px;
        }
  
      }
    }