/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

html, body { height: 100%; overflow: auto; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 

    background-image: url(assets/images/background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}

